<form method="post" action="{{ path('notifiable_delete', {'id': notifiable.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ notifiable.id) }}">
    <button class="btn">Delete</button>
</form>
