{% extends 'base.html.twig' %}

{% block title %}New Notifiable{% endblock %}

{% block body %}
    <h1>Create new Notifiable</h1>

    {{ include('notifiable/_form.html.twig') }}

    <a href="{{ path('notifiable_index') }}">back to list</a>
{% endblock %}
